@model dynamic

@{
  Layout = null;
}

<!DOCTYPE html>

<html>
  <head>
    <title>Blind Biddin</title>
  </head>
  <body>
    <div>
        
    </div>
    <script src="/assets/js/app.js"></script>
  </body>
</html>